.communicate__content {
	margin: auto;
	@include flexbox();
	flex-flow: column wrap;
	padding-top: 39px;

	.communicate__text {
		text-align: center;
		margin: auto;
		max-width: 35em;
		@include flexbox();
		flex-flow: column wrap;
		align-items: center;
		
		.communicate__title {
			font-weight: 500;
			font-size: 24px;
			word-spacing: 2px;
			letter-spacing: -0.9px;
		}

		& p {
			margin: auto;
			margin-top: 3px;
			font-size: 14px;
			line-height: 1.5em;
			word-spacing: -1.87px;
			letter-spacing: -0.06px;
		}		
	}
}

.communicate__slider-wrapper {
	align-items: center;
    justify-content: space-between;
    padding-right: 3px;
}

.communicate__nav {
    margin-top: 20px;
    margin-left: 3px;
	@include flexbox();		
	justify-content: space-between;
	min-width: 70%;
	padding-left: 0;

	& li {
		list-style: none;
		display: inline-block;
	}

	.communicate__nav-radio {
		color: $font-color;	
		display: inline-flex;
		font-size: 14px;
		margin-left: -2px;
		margin-right: 8px;
		word-spacing: 1.8px;
		letter-spacing: -0.4px;

		&:hover,
	    &:active,
	    &:focus {
			outline: none;
			cursor: pointer;
		}		
	}
}

.communicate__slider {
	margin: 0;
	@include flexbox();
	flex-flow: column wrap;	
	padding-left: 9%;

	.communicate__slider-wrapper {
		@include flexbox();	
		padding-top: 30px;
	}

	.communicate__slider-pagination {
		@include flexbox();
		margin: 34px 0 39px 0;
		margin-right: 9%;
	}
}

.communicate__slider-phone {
	padding: 0;
}

.communicate__slider-bot {
	background: #FFFFFF;
	@include flexbox();
	flex-flow: column wrap;
	max-width: 435.48px;
    min-height: 443.55px;
    padding: 49px 40px 0;
    box-sizing: border-box;	
    margin-top: -9px;

	.communicate__logo {
		@include flexbox();
		justify-content: flex-start;
		align-items: center;
		margin-bottom: 11px;

		.icon-telegram {
			background-image: url(../img/sprite.png);
			background-position: 0px 0px;
			width: 62px;
			height: 62px;
		}

		.communicate__logo-title {
			@include flexbox();
			margin-left: 20px;
			letter-spacing: -1px;
		}
	}	

	.communicate__title {
		font-weight: 500;
		font-size: 24px;
	    word-spacing: 0px;
	    letter-spacing: -0.65px;
	}

	.communicate__list {
		margin: 0;
		margin-right: 4%;
		list-style-position: inside;
		@include flexbox();
		flex-direction: column;
		
		ol {
		    font-family: 'Open Sans',sans-serif;
		    line-height: 21px;
		    max-width: 28.3em;
		    letter-spacing: -0.4px;
		    word-spacing: 0px;
		    margin-top: 3px;
    		padding-left: 3px;

		    li {
				margin-bottom: 11px;
			}
		}	
	}
}

.communicate__slider-follow {
	margin-top: 4px;
}

a.communicate__link {
	@include flexbox();
	justify-content: center;
    padding-left: 2px;
    font-size: 14px;
    word-spacing: 0.9px;
    letter-spacing: -0.29px;
    width: 315px;
	border-radius: 2px;
	border: 2px solid transparent;

	&:hover,
	&:active,
	&:focus {
		background: #50DB88;
		border: 2px solid #50DB88;
		color: $color-secondary;
		transition: 1s;
		outline: none;
	}
}

.communicate__slider-pagination {
	@include flexbox();
	margin: 0;
	justify-content: center;
	margin-left: 1.5%; 
		

	.communicate__slider-point {
		@include flexbox();
		border-radius: 50%;
		width: 12px;
		height: 12px;
		background-color: $color-primary;	
		border: 2px solid transparent;
		margin-right: 1.3%;
		
		&:hover,
	    &:active,
	    &:focus {
	    	width: 12px;
			height: 12px;
			background-color: $color-secondary;
			border: 2px solid $color-primary;
			transition: 1s;
			outline: none;
		}
	}
}