/*.communicate {
	margin: 0 auto;
}*/

.communicate__content {
	margin: auto;
	@include flexbox();
	flex-flow: column wrap;

	.communicate__text {
		text-align: center;
		margin: auto;
		width: 35em;
		@include flexbox();
		flex-flow: column wrap;
		
		.communicate__title {
			font-weight: 500;
			font-size: 24px;
			padding-top: 8%;
			padding-right: 2%;
			word-spacing: 2px;
			letter-spacing: -0.9px;
		}

		p {
		margin: auto;
		font-size: 14px;
		line-height: 1.5em;
		word-spacing: -1.87px;
		letter-spacing: -0.06px;
		padding-top: 0.68%;
		}		
	}
}

.communicate__nav {
	margin: 0;
	@include flexbox();		
	justify-content: space-between;
	margin-top: 4%;	
	width: 70%;
	padding-left: 15.6%;

	.communicate__nav-link {
		color: $font-color;	
		padding-bottom: 8px;
		display: inline-flex;
		font-size: 14px;
		margin-left: -2px;
		margin-right: 8px;
		word-spacing: 1.8px;
		letter-spacing: -0.4px;
		border-bottom: 2px solid transparent;

		&:hover,
	    &:active,
	    &:focus {
	    	padding-bottom: 8px;
			border-bottom: 2px solid $color-primary;
		}		
	}
}

.communicate__slider {
	margin: 0;
	@include flexbox();
	flex-flow: column wrap;	

	.communicate__slider-wrapper {
		@include flexbox();	
	}

	.communicate__slider-ovals {
		@include flexbox();
		margin: 38px 0px 38px 6px;
	}
}

.communicate__slider-phone {
	padding: 4.5% 9% 0 9%;
    margin-left: -3px;
}

.communicate__slider-bot {
	background: #FFFFFF;
	@include flexbox();
	flex-flow: column wrap;
	max-width: 435.48px;
	max-height: 447.55px;
	margin-top: 11.4%;
	margin-left: 1.5%;			

	.communicate__logo {
		@include flexbox();
		justify-content: flex-start;
		padding-top: 12.2%;	
		padding-left: 9.5%;	
		margin-top: 2px;

		.icon-telegram {
			background-image: url(../img/sprite.png);
			background-position: 0px 0px;
			width: 62px;
			height: 62px;
		}

		.communicate__logo-title {
			@include flexbox();
			padding-left: 5.3%;
			margin-top: 4.4%;
			letter-spacing: -1px;
		}
	}	

	.communicate__title {
		font-weight: 500;
		font-size: 24px;
		word-spacing: -2px;
	}

	> .communicate__title {
		letter-spacing: -.8px;
	    word-spacing: 0px;
	    padding-top: 3.2%;
	    padding-left: 9.5%;
		margin-bottom: 9px;
		}

	.communicate__list {
		margin: 0;
		margin-right: 4%;
		list-style-position: inside;
		@include flexbox();
		flex-direction: column;
		
		ol {
		    font-family: 'Open Sans',sans-serif;
		    line-height: 21px;
		    max-width: 28.3em;
		    letter-spacing: -0.4px;
		    word-spacing: 0px;
		    margin-left: 10px;
		    margin-top: 2px;
		    margin-bottom: -11px;

		    li {
			margin-top: 11px;
			}
		}	
	}

}

a.communicate__link {
	@include flexbox();
	justify-content: center;
    margin-top: 9.43%;
    margin-left: 9.5%;
    padding-left: 2px;
    font-size: 14px;
    word-spacing: 0.9px;
    letter-spacing: -0.29px;
    width: 318px;
	border-radius: 2px;
	border: 2px solid transparent;

	&:hover {
		background: #50DB88;
		border: 2px solid #50DB88;
		color: $color-secondary;
	}
}

.communicate__slider-ovals {
	@include flexbox();
	margin: 0;
	justify-content: center;
	margin-left: 1.5%; 
		

	.communicate__slider-point {
		@include flexbox();
		border-radius: 50%;
		width: 12px;
		height: 12px;
		background-color: $color-primary;	
		border: 2px solid transparent;
		margin-right: 1.3%;
		
		&:hover,
	    &:active,
	    &:focus {
	    	width: 12px;
			height: 12px;
			background-color: $color-secondary;
			border: 2px solid $color-primary;
		}
	}
}