.footer{
    width: 100%;

    .container {
        @include flexbox();
        margin: 0 auto;
        padding-top: 50px;
    }
    
    .footer__logo-link {
        text-align: center;
    }
}

.footer__item-title {
    font-size: 16px;
    font-weight: 500;
    color: $font-color;
    margin: 0;
}

.footer__nav {
    list-style: none;
    margin-top: 0px;

    .footer__nav-item {
        line-height: 20px;
        margin-bottom: 20px;
        letter-spacing: -0.25px;
    }

    .footer__nav-link,
    .footer__nav__item-address {
        color: $font-color;
        font-size: 13px;
        font-weight: 500;        
        margin-left: -3px;
        letter-spacing: -0.05px;
        word-spacing: -0.03px;

        small {
            font-size: 11px;
            line-height: 30px;
            letter-spacing: -0.1px;
        }
    }

    .footer__nav-link {
        @include flexbox();
        display: flex;
        word-spacing: .5px;
        letter-spacing: -.31px;
        line-height: 20px;
        padding-bottom: 18px;
        margin-top: -2px;
        width: 168px;

        &:hover,
        &:active,
        &:focus {
            color: $color-primary;
            transition: 1s;
            outline: none;
        }
    }
}

.footer__content-contacts .footer__nav__item ul {
    padding-top: 0;
}

.footer-position {    
    display: inline-block;
    letter-spacing: -.25px;
    width: 21%;
    padding-left: 2.8%;
    padding-top: 0px;
    
    .footer__nav__item {
        margin-left: 0;
    }

    ul {
        padding-left: 0px;
        width: 171px;
        padding-top: 21px;
    }
}

.social-icons {
    @include flexbox();
    align-items: flex-start;
    list-style: none;
    margin-bottom: 14px;
    
    .footer__social-link {
        margin-right: 16px;
    }
}

.contact-icon {
    font-size: 20px;
    margin-left: -2px;
    padding-right: 2px;
    margin-top: -1px;
    display: inline-flex;
    justify-content: flex-start;
    color: $font-color;       

    &:hover,
    &:active,
    &:focus  {
        color: $color-primary;
        transition: 1s;
        outline: none;
    }
}

.footer__nav__mail {
    margin-top: 13px;
}

.footer__logo-link{
    display: inline-block;
    background-image: url(../img/sprite.png);
    background-position: -62px 0px;
    width: 51px;
    height: 47px;
}

.footer__button {
    padding: 10px 25px 8px 29px;
    margin-top: 1px;
    margin-left: -2.3px;
    display: inline-block;
    font-size: 14px;
    word-spacing: 0.05px;
    letter-spacing: -0.25px;
    border-radius: 2px;
    border: 2px solid transparent;

    &:hover,
    &:active,
    &:focus  {
        background-color: #50DB88;
        border: 2px solid #50DB88;
        transition: 1s;
        outline: none;
    }
}

.footer__logo {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 45px;
}

.footer__content-contacts {
    padding-left: 4%;
}