.listing__header {
	padding: 14px 0 8px;
}

.breadcrumbs__menu {
	list-style: none;
	padding-left: 0;
	padding-top: 6px;

	& li {
		display: inline-block;

		& span {
    		padding: 0 7px 0 6px;
    	}

		& a {
			color: #2573d8;
    		text-decoration: none;
    		margin-left: -2px;
    		letter-spacing: -0.25px;

    		&:hover,
		    &:active,
		    &:focus  {
    			color: #1854a2;
    			text-decoration: underline;
    			transition: 1s;
    			outline: none;
    		}
		}
	}
}

.breadcrumbs
.breadcrumbs__back {
	display: none;
}

.main h2 {
	font-size: 20px;
	line-height: 32px;
	margin-top: 14px;
    letter-spacing: -.35px;
    color: #152935;
    margin-left: -2px;
    font-weight: 400;
    margin-bottom: 6px;
}

.main__filters {
	@include flexbox();
	margin-bottom: 8px;
}

.main__filters-search__result {
	color: #8C9BA5;
	margin-left: -2px;
    letter-spacing: -0.35px;
   	@include flexbox();
}

.main__filters-sort {
	@include flexbox();
	margin-left: auto;

	& select {
		border: none;
	    background: transparent;
	    font-size: 14px;
	    color: #8C9BA5;
	    max-width: 115px;
	    
	 	&:hover,
	    &:active,
	    &:focus  {
		   	outline: none;
		   	transition: 1s;
		}
	}
}

.offer__item-content {
	margin-bottom: 12px;
	padding-top: 1px;
}

.offer__item-title {
	color: #2C74C7;
	font-weight: 500;
    font-size: 16px;
    word-spacing: 1px;
    letter-spacing: -.65px;
	&:hover,
	&:active,
	&:focus  {
		outline: none;
		transition: 1s;
		color: #0a407e;
	}
}

