.listing__header {
	padding: 14px 0 9px;

	& .header__top {
		margin-bottom: 0;
	}
}

.breadcrumbs {
	padding-top: 6px;
}

.breadcrumbs__menu {
	list-style: none;
	padding-left: 0;

	& li {
		display: inline-block;

		& span {
    		padding: 0 7px 0 6px;
    	}

		& a {
			color: #2573d8;
    		text-decoration: none;
    		margin-left: -2px;
    		letter-spacing: -0.25px;

    		&:hover,
		    &:active,
		    &:focus  {
    			color: #1854a2;
    			text-decoration: underline;
    			transition: 1s;
    			outline: none;
    		}
		}
	}
}

.breadcrumbs
.breadcrumbs__back {
	display: none;
}

.main h2 {
	font-size: 20px;
	line-height: 32px;
    letter-spacing: -.35px;
    color: #152935;
    margin-left: -2px;
    font-weight: 400;
	margin: 0;
}

.main__filters {
	@include flexbox();
	margin-top: 5px;
}

.main__filters-search__result {
	color: #8C9BA5;
	margin-left: -2px;
    letter-spacing: -0.35px;
   	@include flexbox();
}

.main__filters-sort {
	@include flexbox();
	margin-left: auto;

	& select {
		border: none;
	    background: transparent;
	    font-size: 14px;
	    color: #8C9BA5;
	    max-width: 115px;
	    
	 	&:hover,
	    &:active,
	    &:focus  {
		   	outline: none;
		   	transition: 1s;
		}
	}
}

.footer__content-contacts
.footer__nav {
	margin-bottom: 0;
}