.offer__item {
	width: 890px;
	margin: 0 auto;
}

.offer__item-content {
	background: $color-secondary;
	margin-left: -2px;
	@include flexbox();
	flex-flow: column wrap;

	.offer__item-main {
		@include flexbox();
		margin: 10px 20px 0 20px;
		flex-flow: row wrap;
		justify-content: space-between;
		
		.rooms-img {
			width: 242px;
		}

		.offer__item-group {
			width: 320px;
   			margin: 6px 0 0 -99px;
		}

		.offer__item-price {
			width: 148px;
			text-align: right;
		}
	}
}

.offer__item-title {
	font-weight: 500;
    font-size: 16px;
    word-spacing: 1px;
    letter-spacing: -0.65px;
}

.offer__item-description {
    font-weight: 400;
    font-size: 12px;
    margin-top: -1px;

    & h4 {
    	letter-spacing: -0.65px;
	    margin-left: -2px;
	    margin-bottom: 10px;
	    font-weight: 400;
    }
    
}

.offer__item-location {
	font-size: 12px;
	color: #000000;
	font-weight: 400;
	margin-top: 10px;
    margin-left: -2px;
    margin-bottom: 25px;
    letter-spacing: -0.25px;

	& .offer__item-length {
		color: #9B9B9B;
		margin-left: 20px;
	}

	& .metro-station {
		margin-right: 8px;
	}
}



.offer__item-detailed {
	letter-spacing: -0.5px;
	margin-bottom: 19px;

	&__point {
		margin: 0 7px;
	}
}

.offer__item-text {
	font-size: 13px;
	line-height: 20px;
	letter-spacing: -0.25px;
	margin-left: -2px;
	color: #000;
}

.offer__item-price h3 {
	font-size: 18px;
	font-weight: 400;
	color: #4A4A4A;
	letter-spacing: -0.25px;
	margin-top: 2px;
    margin-right: 6px;
    margin-bottom: 0px;
}

.offer__item-rate {
	margin-top: 12px;

	& span {
		margin-right: 7px;
    	margin-left: 11px;
    	border-bottom: 2px solid #D8D8D8;
    	padding-bottom: 2px;
	}
}


.offer__price-rating {
    width: 148px;
    padding: 10px 10px;
    text-align: left;
    border-radius: 4px;
    background: url(../img/icon-comment.png) no-repeat;
    background-position: 112px 10px;
    box-sizing: border-box;
    letter-spacing: -0.25px;
    margin: 24px 12px 20px -1px;

    & p {
		margin: 0;
	}
}

.offer__price-rating__expensive {
	background-color: #ffefea;
}

.offer__price-rating__good {
	background-color: #eafff5;
}


.offer__contact {
	text-decoration: none;
	display: inline-block;
	padding: 15px 34px;
	border-radius: 3px;
}

.offer__contact-phone {
	background: url("../img/phone-icon.png") no-repeat center;
	border: 2px solid rgba(48, 174, 98, 0.4);

	&:hover,
    &:active,
    &:focus  {
		border: 2px solid rgba(48, 174, 98, 0.8);
		transition: 1s;
		outline: none;
	}
}

.offer__contact-messenger {
	background: url("../img/messenger.png") no-repeat center;
	border: 2px solid rgba(37, 115, 216, 0.4);

	&:hover,
    &:active,
    &:focus {
		border: 2px solid rgba(37, 115, 216, 0.8);
		transition: 1s;
		outline: none;
	}
}


.offer__item-footer {
	position: relative;
	text-align: center;
	margin-top: 8px;
	height: 41px;
}

.slider__radio {
    opacity: 0;
    position: absolute;
}

.offer__item-footer .slider__radio-label {
	display: inline-block;
    cursor: pointer;
    position: relative;
    width: 8px;
    border-radius: 50%;
    border: 2px solid #fff;
    text-align: center;
    height: 8px;
    margin-right: 1px;
}

.slider__radio:not(checked)+label  {
	background: rgba(0, 0, 0, 0.3);
}

.offer__item-nav input[type="radio"]:checked + label {
	background: rgba(0, 0, 0, 0.7);
}

.offer__item-next-section {
	position: absolute;
    top: -12px;
    right: 0;
    text-align: left;
    background: url(../img/icon-right.png) no-repeat 81% 24%;
    width: 136px;
    
    & p {
    	font-size: 12px;
	    line-height: 1.5;
	    color: #979797;
	    margin: 0;
    }
}