a {	
	text-decoration: none;
}

.realty-near {	
	max-width: 890px;
	max-height: 295px;
	margin: 0 auto;

	.wrapper {
		background: $color-secondary;
		margin: 20px auto;
		@include flexbox();
		flex-flow: row wrap;
    	padding-bottom: 3px;

		.realty-near__text {
			width: 41%;
			margin: 0;
			flex-flow: column wrap;

			.realty-near__nav {
				padding-left: 11.1%;
				padding-top: 1.5%;
				list-style-type: none;
				margin: 0;
				@include flexbox();
			}

			.realty-near__nav li {
				padding-right: 12%;
			}
		}
	}
}

.realty-near__title {
	font-weight: 500;
	font-size: 24px;
	padding-top: 6%;
	margin-left: 10%;
	word-spacing: -2px;
}

.realty-near-link {
	color: $font-color;
	border-bottom: 2px solid transparent;
	display: inline-flex;
	padding-bottom: 8px;
	padding-right: 2px;

    &:hover,
    &:active,
    &:focus {
    	padding-bottom: 8px;
		border-bottom: 2px solid $color-primary;
	}
}

.select {
	margin-top: 5.5%;
	margin-bottom: 8.3%;
	margin-left: 10%;
	width: 190px;
}

a.realty-near__link {	
	@include flexbox();
	margin-left: 10.5%;
	margin-bottom: 10%;
	justify-content: center;
	font-size: 14px;
	word-spacing: 0.05px;
	letter-spacing: -0.05px;	
	width: 316px;
	border-radius: 2px;
	border: 2px solid transparent;

	&:hover {
		background: $color-secondary;
		border: 2px solid $color-primary;
		color: $color-primary;	
	}
}

.realty-near__img {
	margin: auto;
	margin-top: 4.5%;
	margin-left: 8.7%;
}

/*.select-metro {
	border-radius: 2px;
	.metro-station {
	    display: inline-block;
	    width: 8px;
	    height: 8px;
	    border-radius: 50%;
	}

	.metro-station-red {
		background: #E71D32 ;
	    margin-right: 10px;
	}
}*/

.select-metro .jq-selectbox {
	min-width: 315px;
}