a {	
	text-decoration: none;
}

.realty {	
	max-width: 890px;
	margin: 0 auto;

	.container {
		background: $color-secondary;
		margin: 20px auto;
		@include flexbox();
		flex-flow: row-reverse wrap;
    	padding-bottom: 3px;
	}
}

.realty__nav {
	padding-left: 11.1%;
	padding-top: 1.5%;
	list-style-type: none;
	margin: 0;
	@include flexbox();
}

.realty__text {
	width: 41%;
	margin: 0;
}

.realty__nav li {
	padding-right: 12%;
	display: inline-block;
}

.realty__title {
	font-weight: 500;
	font-size: 24px;
	padding-top: 6%;
	margin-left: 10%;
	word-spacing: -2px;
}

.realty__link {
	color: $font-color;
	border-bottom: 2px solid transparent;
	display: inline-flex;
	padding-bottom: 8px;
	padding-right: 2px;

    &:hover,
    &:active,
    &:focus {
    	padding-bottom: 8px;
		border-bottom: 2px solid $color-primary;
		transition: 1s;
		outline: none;
	}
}

.select {
	margin-top: 5.5%;
	margin-bottom: 8.3%;
	margin-left: 10%;
	width: 190px;
}

.realty__button {	
	display: inline-block;
	margin: -1px 0 10% 10.5%;
    text-align: center;
	font-size: 14px;
	word-spacing: 1px;
	letter-spacing: -0.34px;	
	width: 316px;
	border-radius: 2px;
	border: 2px solid transparent;

	&:hover,
    &:active,
    &:focus  {
		background: #50DB88;
		border: 2px solid #50DB88;
		color: $color-secondary;	
		transition: 1s;
		outline: none;
	}
}

.realty__img {
	margin: auto;
	margin-top: 4.5%;
	margin-left: 8.7%;
}

.select-location .jq-selectbox {
	min-width: 315px;
}