a {	
	text-decoration: none;
}

.realty {	
	max-width: 890px;
	margin: 0 auto;

	.container {
		background: $color-secondary;
		margin: 20px auto;
		@include flexbox();
		flex-flow: row-reverse wrap;
    	padding: 24px 35px 41px;
    	justify-content: flex-end;
    	box-sizing: border-box;
	}
}

.realty__nav {
	list-style-type: none;
	margin: 0;
	@include flexbox();
	margin-top: 23px;
	padding-left: 2px;
}

.realty__text {
	width: 45.5%;
	margin: 0;
}

.realty__nav li {
	padding-right: 40px;
	display: inline-block;
}

.realty__title {
	font-weight: 500;
	font-size: 24px;
	word-spacing: -2px;
}

.realty__link {
	color: $font-color;
	border-bottom: 2px solid transparent;
	display: inline-flex;
	padding-bottom: 8px;
	padding-right: 2px;

    &:hover,
    &:active,
    &:focus {
    	padding-bottom: 8px;
		border-bottom: 2px solid $color-primary;
		transition: 1s;
		outline: none;
	}
}

.select {
	width: 190px;
}

.realty__button {	
	display: inline-block;
	margin-top: 29px;
    text-align: center;
	font-size: 14px;
	word-spacing: 1px;
	letter-spacing: -0.34px;	
	width: 316px;
	border-radius: 2px;
	border: 2px solid transparent;

	&:hover,
    &:active,
    &:focus  {
		background: #50DB88;
		border: 2px solid #50DB88;
		color: $color-secondary;	
		transition: 1s;
		outline: none;
	}
}

.realty__img {
	@include flexbox();
	align-items: center;

	& img {
		@include flexbox();
	}
}

.select__location {
	margin-top: 32px;
    margin-left: 2px;
    display: inline-block;

    & .jq-selectbox  {
    	min-width: 315px;
    }
}