@import "variables.scss";
@import "mixins.scss";
@import "buttons.scss";
@import "dropdown.scss";
@import "overflow.scss";
@import "partials/header.scss";
@import "partials/realty-near.scss";
@import "partials/best-offer.scss";
@import "partials/latest-offer.scss";
@import "partials/communicate.scss";
@import "partials/blog.scss";
@import "partials/footer.scss";

@import "screen.scss";
body {
	font-family: 'Open Sans', sans-serif;
	font-size: $font-size-base;
	color: $font-color;
	background: rgba(90, 104, 114, 0.08);
}


