@media (max-width: 890px) {
	.container {
		max-width: 768px;
		padding-left: 15px;
		padding-right: 15px;
	}

	.header__nav-item {
		margin-right: 10.35%;
	}

	.header__search-form,
	.header__bottom {
		display: block;
		text-align: center;
	}

	.search__form-select,
	.search__form-select__room {
		display: inline-block;
		text-align: left;
	}

	.search__form-select__room,
	.header__search-form button {
		margin-left: 0;
	}

	.search__form-button {
		text-align: right;
		margin-right: 55px;
	    margin-left: 0;
	    margin-top: 15px;
	}

	.main,
	.offer__item-content {
	    width: 768px;
    	margin: auto;
	}

	.main {
		margin-left: 8%;
	}

	.offer__item-content {
		margin-bottom: 12px;
		padding-top: 1px;
	}

	.offer__item-content 
	.offer__item-main 
	.offer__item-group {
		margin-left: 2px;
	}

	.realty-near__img {
		width: 51%;
		margin: 4.5% auto auto 3.7%;
		& img {
			width: 100%;
		}
	}

	.footer-position .footer__nav__item {
		width: 157px;
	}

	.communicate__slider-bot {
		margin-right: 1.5%;
		& .communicate__link {
			margin-left: 5%;
			margin-right: 5%;
		}
	}

}

@media (max-width: 767px) {
	.container {
		max-width: 520px;
	}

	.header__right,
	.header__nav {
		display: none;
	}

/*	.header__nav .header__nav-item:first-child {
		display: block;
		position: fixed;
	}*/

	.hamburger {
		display: block;
	}

	.b-a {
	   transition: all .25s;
	   content: "";
	   position: absolute;
	   right: 0;
	   height: 1.42px;
	   width: 23.3px;
	   border-radius: 15px;
	   background-color: rgba(255, 255, 255, 0.95);
	}

.hamburger {
   transition: all .25s;
   position: absolute;
  	top: 25px;
   right: 3%;
   height: 36px;
   width: 36px;
   z-index: 1;
   cursor: pointer;
   ul {
      transition: all 0s;
      position: fixed;
      left: -9000px;
   }
}

.hamburger-icon {
   @extend .b-a;
   position: absolute;
   right: 12px;
   top: 24px;
   &:before {
      @extend .b-a;
      top: -8px;
   }
   &:after {
      @extend .b-a;
      top: 8px;
   }
}

	.b-a-expanded {
	   transition: all .25s;
	   top: -0px;
	}

	.hamburger-open {
	   	transition: all .25s;
	   	text-align: center;
	   	height: 100%;
	   	width: 100%;
	   	border-radius: 0px;
	   	top: 0;
	   	right: 0;
	   	background: rgba(90, 104, 114, 0.8);
	   	opacity: 1.00;
	   	position: fixed;
	   	& ul {
	        transition: all 0s;
	        position: relative;
	        left: 0;
	        z-index: 2;
	        top: 35px;
	        & li {
	        	display:block;
	        	height: 45px;
	        	text-align: left;
	        	padding-left: 40px;
	         	position: relative;
	      	}
	   	}
	    & a {
	        transition: all .15s;
	        text-decoration: none;
	        font-size: 14px;
	      	padding: 5px;
	      	color: #fff;
	      	display: inline-block;
	      	height: auto;
	      	&:hover {
	         	transition: all .15s;
	      	}
	   	}
	   	.hamburger-icon {
	      	background-color: transparent;
	      	transition: all .25s;
	      	top: 48px;
	      	&:before {
	        	@extend .b-a-expanded;
	         	transform: rotate(45deg);
	      	}
	      	&:after {
	         	@extend .b-a-expanded;
	         	transform: rotate(-45deg);
	      	}
	   	}
	}

	a.header__button-new__ad {
		padding: 11px 25px 11px 13px;
	}

	.wrapper-blur {
		filter: blur(5px);
	}


	.search__form-button {
		text-align: center;
	}

	.realty-near__img,
	.realty-near__text {
		width: 95%;
		margin-right: 2.5%;
		margin-left: 2.5%;
		text-align: center;
	}

	.realty-near__title {
		margin-left: 0;
	}

	.realty-near__title,
	.select,
	.realty-near__link {
		margin-left: 0
	}

	.realty-near__nav {
		display: block;
		text-align: center;
		padding-left: 0;
		& li:last-child {
			padding-right: 0;
		}
	}

	.realty-near__link {
		margin-left: 0;
	}

	.communicate__slider-phone {
		display: none;
	}

	.main,
	.offer__item,
	.offer__item-content {
		max-width: 520px;		
	}

	.main {
		margin: auto;
	}

	.offer__item-content 
	.offer__item-main 
	.offer__item-group {		
		width: 52%;
		text-align: left;
		margin-left: 2px;
	}

	.offer__item-content 
	.offer__item-main
	.offer__item-rate {
		color: #979797;
	    margin-left: 49.5%;

		span {
		display: none;
		}
	}

	.offer__item-content 
	.offer__item-main 
	.rooms-img {
		width: 45%;
	    margin-top: 2%;

		& img {
			width: 100%;
		}
	}

	.offer__item-content 
	.offer__item-main
	.offer__item-price {
		width: 100%;
	}

	.offer__item-cost {
		display: flex;
        margin-bottom: -3%;
	}

	.offer__price-rating__expensive,
	.offer__price-rating__good {
	    margin-bottom: -35px;
	}

	.footer .footer__content {
		display: table;
		text-align: center;
	}

	.footer-position {
		vertical-align: top;
		text-align: left;
		width: 32%;
	}

	.blog__item {
		width: 272px;
		margin: 0 auto;
	}

	.communicate__slider {
		align-items: center;
	}

	.communicate__slider-bot .communicate__link {
		align-items: center;
	}

	.communicate__slider-bot {
		flex-flow: column;
	}

	.communicate__slider-follow {
		display: flex;
		align-items: center;
    	flex-direction: column;
    	margin-bottom: 10px;
    	& .communicate__link {
    		margin-right: 0;
    		margin-left: 0;
    	}
	}
}

@media (max-width: 520px) {
	.container {
		max-width: 360px;
		padding-right: 0;
		padding-left: 0;
	}

	.header {
		padding: 38px 0 25px;
	}

	.header .container {
		padding-right: 16px;
		padding-left: 16px;
	}

	.header__title {
		font-size: 24px;
		line-height: 38.92px;
		letter-spacing: -0.75px;
		width: 250px;
		margin-bottom: 9.7%;
	}

	.header__bottom, .header__search-form{
		text-align: left;
	}

	.jq-selectbox {
		min-width: 313px;
    	margin-left: 1px;
	}

	.search__form-select {
		margin-bottom: 31px;
	}

	.search__form-select__room {
		margin-left: -3px;
		margin-bottom: 18px;
	}

	.search__form-select p {
		margin-left: -1px;
	}

	.search__form-button {
		text-align: left;
		margin-left: 2px;
	}

	.realty-near .wrapper {
		margin: 21px auto;
	}

	.realty-near__img img {
		height: 214px;
	}

	.realty-near__title {
		padding-top: 1%;
	}

	.realty-near__nav {
		padding-top: 2.5%;
	}

	.realty-near__nav li {
		padding-right: 9.5%;
	}

	.realty-near-link {
		padding-bottom: 11px;
	}

	.realty-near__link {
		margin: -1px 0 4% 0%;
	}

	.select-metro .select {
		margin-bottom: 9%;
	}

	.best__offer h2 {
		margin-top: 23px;
	}

	.latest__offer h2 {
		margin-top: 25px;
	}

	.latest__offer-more {
		margin-top: 7px;
	}

	.communicate__nav {
		margin: 9% 0 0;
	}

	.communicate__nav-link:first-child {
		margin-right: 35px;
	}

	.communicate__text p {
		padding-left: 20px;
		padding-right: 20px;
	}

	.realty-near__title,
	.best__offer h2, 
	.blog h2, 
	.latest__offer h2,
	.communicate__content .communicate__text .communicate__title,
	.communicate__slider-bot .communicate__title {
		font-size: 20px;
	}
	.communicate__content .communicate__text .communicate__title  {
		padding-top: 12.5%;
	}

	.communicate__content .communicate__text p {
		padding-top: 2%;
	}

	.communicate__slider-bot {
		margin-top: 9.4%;
		margin-right: 0;
		margin-left: 0;
	}

	.communicate__slider-bot .communicate__logo {
		padding-left: 11%;
		padding-top: 9%;
	}

	.communicate__slider-bot .communicate__list ol {
		margin-left: 0;
	}

	a.communicate__link {
		width: 273px;
		margin-top: 23%;
		margin-bottom: 26px;
	}

	.communicate__slider .communicate__slider-ovals {
		margin: 31px 0 19px 6px;
	}

	.communicate__slider-ovals .communicate__slider-point {
		margin-right: 7px;
	}

	.communicate__slider-bot .communicate__title {
		padding-top: 4.2%;
    	padding-left: 11.5%;
	}

	.blog h2 {
		margin-top: 21px;
	}

	.blog__subtitle {
		max-width: 284px;
	}

	.blog__item {
		width: 320px;
		margin-bottom: 22px;
		box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
		border: 2px solid #DFE3E6;
		border-radius: 2px;
	}

	.blog__item img {
		width: 100%;
    	height: 192px;
	}

	.blog a,
	.blog__item-author {
		margin-left: 19px;
	}

	.blog__item-title {
		width: 280px;
	}

	.blog__item-category {
		margin: 14px 3px 0;
	}

	a.blog-more {
		margin-left: 0;
		margin-top: -2px;
	}

	.main,
	.offer__item,
	.offer__item-content {
		max-width: 360px;
	}
	
	.main__breadcrumb-menu {
		display: none;
	}

	.main__breadcrumbs
	.main__breadcrumb-back {
		display: block;
	    margin-left: 5px;
    	margin-top: 16px;
	}

	.main h2 {
		font-size: 16px;
		margin-top: 12px;
		margin-left: 7px;
	}

	.main__filters-search__result {
	    margin-left: 0;
	}

	.main .container {
		margin-left: 4%;
	}

	.main__filters {
		display: block;
		margin-bottom: 21px;
	    margin-left: 6px;
	    margin-top: 21px;
	}

	.offer__item-content {
	    padding-bottom: 12px;
    	margin-bottom: 12px;
	
		& .offer__item-main {
			margin: 12px 17px 0;
		}
	}

	.offer__item-content 
	.offer__item-main 
	.rooms-img {
		width: 100%;
	}

	.offer__item-content 
	.offer__item-main
	.offer__item-rate {
	    margin-left: 24.5%;
	}

	.offer__item-content 
	.offer__item-main 
	.offer__item-group {		
		width: 100%;
		margin-top: 22px;
		margin-left: 4px;
	}

	.offer__item-content 
	.offer__item-main 
	.offer__item-price {
		margin: 13px 0 22px 4px;

		& .offer__item-cost {
			margin-bottom: 8px;
		    height: 26px;
			align-items: baseline;
		}
	}
 	
 	.offer__item {
		margin-bottom: -30px;
	}

	.footer-position {
		width: 100%;
		text-align: center;
		padding-left: 0;
	}

	.footer-position .footer__nav__item {
		width: 100%;
	}

	.footer__nav .footer__nav-link {
		width: 157px;
    	display: inline-block;
	}

	.footer-position ul {
		width: 100%;
	}

	.footer__nav .footer__nav-link {
		margin-right: 0;
	}

	.social-icons {
		align-items: center;
		justify-content: center;
	}

	.footer .footer__content {
		padding: 63px 0 0;
	}

	.footer-position {
		padding-bottom: 3px;
	}

	.footer__content-more .footer__nav__item:last-child {
		display: none;
	}

	.footer__link {
		margin-top: 2px;
	}

	.footer__logo {
		display: flex;
		justify-content: center;
		& .footer__logo-link {
			margin: 47px 0 50px 0%;
		}
	}
	
}


